@inherits LayoutComponentBase

<div class="m3-layout-wrapper">
    <NavMenu />

    <main class="m3-main-container">
        @Body
    </main>

    <footer class="m3-footer">
        <Footer />
    </footer>
</div>
