@inherits LayoutComponentBase
<div>
    <div>
        <NavMenu />
    </div>

    <main style="min-height: 100vh;">
        <article class="px-4 py-2 ">
            @Body
        </article>
    </main>
    <footer class="footer">
        <Footer/>
    </footer>
</div>
