<nav class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item">
            <h1 class="title is-3">Peterworks Dev Tool</h1>
        </a>
    </div>
    <div class="navbar-menu" id="nav-links">
        <div class="navbar-start">
            <NavLink class="navbar-item" href="" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink class="navbar-item" href="http_encode_decode">HTTP Encode & Decode</NavLink>
        </div>
        <div class="navbar-end">
            <a class="navbar-item">About</a>
        </div>
    </div>
</nav>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
