@page "/"
@inject IConfiguration Configuration


<PageTitle>Home</PageTitle>
<div>
   <h1 class="title">Hello, world!</h1>

   Welcome to your new app.

   <h1>Hello @Configuration["PeterworksDevToolPass"]!</h1>

</div>
@code{

   // string appConfig = new AppConfig().AppConfigInit();


}
