@page "/"
@inject IConfiguration Configuration

<PageTitle>Home</PageTitle>
<div class="columns is-centered">

   <div class="column is-6 is-offset-3">
      <h1 class="title">Hello, world!</h1>

      <br>

      <p>Welcome to your new app.</p>

   </div>

</div>
@code{

   // string appConfig = new AppConfig().AppConfigInit();


}
