@page "/http_encode_decode"

<PageTitle>Http Encode / Decode </PageTitle>

<h1 class="title">Http Encdoe / Decode</h1>
<h2 class="subtitle">Please enter the Value that you wish to Http Encode or Decode</h2>
<br>
<input @bind-value="inputText"/>
<br>
<br>
<button @onclick="httpEncodeText">Http Encode</button>
<button @onclick="httpDecodeText">Http Decode</button>
<br>
<br>
<h3>Result</h3>
<br>
<p>@outputText</p>


@code{

    string inputText {get; set;}
    string outputText {get; set;}


    private void httpEncodeText() {

        string encodeString = HttpUtility.UrlEncode(inputText);
        outputText = encodeString;

    }

    private void httpDecodeText() {

        string decodeString = HttpUtility.UrlDecode(inputText);
        outputText = decodeString;

    }

}
