@page "/http_encode_decode"

<PageTitle>Http Encode / Decode </PageTitle>
<div>
    <h1 class="title">Http Encdoe / Decode</h1>
    <h2 class="subtitle">Please enter the Value that you wish to Http Encode or Decode</h2>
    <input class="textarea" placeholder="Add Value" @bind-value="inputText"/>
    <br>
    <button class="button is-primary is-dark" @onclick="httpEncodeText">Http Encode</button>
    <button class="button is-primary is-dark" @onclick="httpDecodeText">Http Decode</button>
    <br>
    <br>
    <h3 class="title is-3">Result</h3>
    <input class="textarea" placeholder="Result Value" @bind-value="outputText"/>
</div>



@code{

    string inputText {get; set;}
    string outputText {get; set;}


    private void httpEncodeText() {

        string encodeString = HttpUtility.UrlEncode(inputText);
        outputText = encodeString;

    }

    private void httpDecodeText() {

        string decodeString = HttpUtility.UrlDecode(inputText);
        outputText = decodeString;

    }

}
